body {
  background-color: #eec9a9;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1c31a5;
}

li {
  list-style-type: none;
}

img {
  border-radius: 10px;
}